<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width:monsterHealth + '%'}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width:playersHealth + '%'}"></div>
        </div>
      </section>
      <section class="Update" v-if="gameStatus">
        <h3 v-if="gameStatus">
          {{status}}
        </h3>
        <button @click="resetGame">RESET</button>
      </section>
      <section id="controls" v-if="!gameStatus">
        <button @click="attacMonster">ATTACK</button>
        <button @click="SpecialAttack" :disabled="SpecialAttackStatus">SPECIAL ATTACK</button>
        <button @click="HealPlayer" :disabled="SpecialAttackStatus">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="obj in logArray" :key="obj['value']">{{obj['who']}} - {{obj['type']}} - {{obj['value']}}</li>
        </ul>
      </section>
    </div>
  </body>
</html>
